.half-box-image-text {
    padding: 40px 0 0 0;
}

.big-image-box,
.small-image-box {
    padding-bottom: 15px;
}


.big-image-link,
.small-image-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #21555A;
    border-radius: 3px;
    color: #fff;
    overflow: hidden;
    border: none;
    height: 133px;
}

.big-image-link img,
.small-image-link img {
    width: 105px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

.big-image-box__text,
.small-image-box__text {
    width: calc(100% - 105px);
    height: 133px;
    position: relative;
    padding: 18px 40px 18px 14px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.big-image-box__text::before,
.small-image-box__text::before {
    content: '\e912';
    font-family: 'icomoon';
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: #043F45;
    width: 40px;
    height: 40px;
    background-color: #84A7AA;
    border-radius: 3px 0 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.big-image-box__text h4,
.small-image-box__text h4 {
    color: #fff;
    font-size: 18px;
    padding-bottom: 4px;
}

.big-image-box__text p,
.small-image-box__text p {
    color: rgba(255,255,255,0.85);
    font-size: 15px;
    padding-bottom: 0;
    line-height: 1.2em;
}

.big-image-box__text span.btn,
.small-image-box__text span.btn {
    display: none;
}

.half-box-image-text .read-more__box {
    padding-bottom: 25px;
}

@media (min-width: 768px) {
    .half-box-image-text {
        padding: 60px 0 0 0;
    }

    .box-flex {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .big-image-box {
        padding-bottom: 30px;
    }

    .big-image-link {
        display: block;
        background-color: #EBF0F1;
        height: 100%;
    }

    .big-image-link img {
        width: 100%;
        height: 160px;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
    }

    .big-image-box__text {
        width: 100%;
        height: 100%;
        padding: 22px 30px 26px 30px;
        display: block;
    }

    .big-image-box__text::before,
    .small-image-box__text::before {
        display: none;
    }

    .big-image-box__text span.btn {
        display: inline-block;
        background-color: #21555A;
        color: #fff;
        padding: 4px 35px 4px 17px;
    }

    .big-image-box__text span.btn::before {
        right: 17px;
        font-size: 10px;
    }

    .big-image-box__text h4 {
        color: #043F45;
        font-size: 20px;
        padding-bottom: 4px;
    }

    .big-image-box__text p {
        color: #043F45;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        padding-bottom: 17px;
        opacity: 0.85;
        
    }

    .big-image-box__text p span {
        font-weight: 700;
        background-color: #D8E2E3;
        border-radius: 3px;
        padding: 0 3px;
    }

    .small-image-box {
        padding-bottom: 0;
    }

    .small-image-link {
        display: block;
        position: relative;
        height: auto;
        transition: all .5s;
    }

    .small-image-link:hover {
        transform: scale(1.15);
        transition: all .5s;
    }

    .small-image-link img {
        width: 100%;
        position: absolute;
    }

    .small-image-box__text {
        width: 100%;
        height: 207px;
        position: relative;
        padding: 24px 26px;
        background-color: rgba(33,85,90,0.83);
        position: relative;
        display: block;
    }

    .small-image-box__text h4 {
        padding-bottom: 8px;
    }

    .small-image-box__text span.btn {
        display: inline-block;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 35px;
        background-color: transparent;
        color: #fff;
        position: absolute;
        bottom: 24px;
    }

    .small-image-box__text span.btn::before {
        right: 17px;
        font-size: 10px;
    }

}

@media (min-width: 1200px) {
    .half-box-image-text {
        padding: 90px 0 0 0;
    }

    .half-box-image-text__heading {
        padding-bottom: 26px;
    }

    .half-box-text p {
        padding-bottom: 40px;
    }

    .big-image-link {
        height: 433px;
        position: relative;
        transition: all .5s;
    }

    .big-image-link:hover {
        transform: scale(1.03);
        transition: all .5s;
    }

    .big-image-link img {
        height: 100%;
    }

    .big-image-box__text {
        position: absolute;
        bottom: 25px;
        height: auto;
        max-width: 510px;
        background-color: #fff;
        left: 25px;
        border-radius: 3px;
        padding: 17px 24px 20px 24px;
    }

    .big-image-box__text h4 {
        font-size: 24px;
    }

    .big-image-box__text p {
        padding: 5px 0 17px 0;
        letter-spacing: 0.08em;
    }

    .half-box-text .big-image-box {
        padding-bottom: 0;
    }

    .small-image-box__text {
        padding:  24px 15px;
    }

    .half-box-image-text .read-more__box {
        padding-bottom: 0;
    }

}


@media (min-width: 1366px) {
    .small-image-box__text {
        padding:  24px 26px;
    }
}